/* ===================================================
 element-ui 自定义主题
==================================================== */
/* 色值定义 */
$--color-primary: #3871ed;

/* 样式定义 */
$--checkbox-bordered-mini-height: 24px !default;
$--radio-bordered-mini-height: 24px !default;
$--input-mini-height: 24px !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";